body{
  background-color:  var(--color-1);
}
.larger-container {
  display: grid;
  grid-template-columns: 35% 65%;
  min-height: 100vh;   /* antes: height */
  height: auto;
  font-family: 'Kantumruy Pro', sans-serif;
  position: relative;
  overflow: hidden;
}

/* animmaciones */
.letf-conteiner {
  animation: fadeUp 0.8s ease-out;
}

.right-conteiner {
  animation: fadeDown 0.8s ease-out;
}

@keyframes fadeUp {
  from { transform: translateY(40px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

@keyframes fadeDown {
  from { transform: translateY(-40px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}



.logo-container img {
  animation: zoomIn 0.6s ease-in-out;
}

@keyframes zoomIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


.input-line {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}


.input-line:nth-child(1) { animation-delay: 0.2s; }
.input-line:nth-child(2) { animation-delay: 0.4s; }
.input-line:nth-child(3) { animation-delay: 0.6s; }
.input-line:nth-child(4) { animation-delay: 0.8s; }

@keyframes fadeUp {
  to { opacity: 1; transform: translateY(0); }
}


/* =======================
   Panel izquierdo
======================= */
.letf-conteiner {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px;
  background: linear-gradient(32deg, rgba(222, 222, 222, 1) 31%, rgba(146, 143, 143, 0.55) 70%);
  overflow: hidden;
}

.letf-conteiner::before,
.letf-conteiner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: repeat;
  background-size: 240px;
  pointer-events: none;
  z-index: 0;
  animation: moveBackground 50s linear infinite;
}

.letf-conteiner::before {
  background-image: url("/logoGiradoBlanco.png");
  opacity: 1;
  animation: moveBackground 70s linear infinite, fadeOut 10s ease-in-out infinite alternate;
}

.letf-conteiner::after {
  background-image: url("/logoGirado.png");
  opacity: 0;
  animation: moveBackground 70s linear infinite, fadeIn 10s ease-in-out infinite alternate;
}

@keyframes moveBackground {
  from { background-position: 0 0; }
  to   { background-position: -500px 1000px; }
}

@keyframes fadeOut {
  from { opacity: 0.1; }
  to   { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 0.1; }
}

/* tabs regsitre and login (pestañas de login y registro) */

.tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
  margin-left: -30px;
  transition: all 0.3s ;

}

.tab {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-10);
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 1.8rem 1.2rem;
  position: relative;
  z-index: 12;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.tab.active,
.tab.desactivado:hover {
  text-align: center;
  font-weight: 700;
  background: var(--color-1);
  color: var(--color-10);
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-2);
  transform: translateY(-2px);
}

.tab.desactivado{
  text-align: center;
}

.tab.active:hover {
  background: var(--color-2);
}

.tab.active:active,
.tab.desactivado:active {
  transform: translateY(0);
}

.tabs:has(.tab.desactivado:hover) .tab.active {
  background: none;
  box-shadow: none;
}

/* Indicador rectangular redondeado */

.tab-indicator {
  position: absolute;
  left: 46%;
  width: 100%;
  height: 70px;
  border-radius: 42px;
  z-index: 11;
  pointer-events: none;
}

.tab-indicator.register {
  top: calc(56% + 8px);
}

/* =======================
   Panel derecho
======================= */
.right-conteiner {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* no center fijo */
  background: var(--color-1);
  padding: 1rem 0;
  overflow-y: scroll;          /* mantiene el scroll */
  scrollbar-width: none;       /* Firefox: oculta y no ocupa espacio */
  -ms-overflow-style: none;
  box-shadow:  -9px 0 46.9px rgba(0, 0, 0, 0.228);

}

body::-webkit-scrollbar {
  width: 0px;                  /* Chrome, Safari, Edge: quita el espacio */
  height: 0px;
}

.register-card {
    opacity: 1;
    transition: opacity 0.7s ease;
  }

  .register-card.fade-out {
    opacity: 0.5;
    cursor: wait;
  }

  .register-card {
  width: 55%;
  max-width: 600px; 
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.login{
  align-items: center;
  justify-content: center;
}

.logo-container {
  width: 180px;
  }

.logo-container img {
  max-width: 100%;
  height: auto;
}

h3{
  margin: 1.4rem;
  color: var(--color-9);
  font-weight: 600;
}

.titulo-login{
  margin: 2.4rem;
}

/* Inputs */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input-line {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #B2B2B2;
  padding: 0.7rem 0.5rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s;
}

.input-line:focus-within {
  border-bottom-color: #6b7280;
}

.input-line .icon {
  margin-right: 0.7rem;
  color: #B2B2B2;
  flex-shrink: 0;
}

.input-line input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
  font-size: 0.95rem;
  color: #374151;
}

.input-line input::placeholder {
  color: #9ca3af;
}

.select-line {
  opacity: 0;
  outline: none;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
  background-color: transparent;
  padding: 0.0rem 0.0rem;
  border: none;
  margin-bottom: 0rem;
  color: #374151;
}

/* Checkbox + Términos */
.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  margin: 1rem 0 1.2rem 0;
  width: 100%;
}

.terms input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: #646464;
}

.terms label {
  color: #4b5563;
  cursor: pointer;
}

.terms a {
  color: #2563eb;
  text-decoration: underline;
}
/* Botón */
.btn-primary {
  width: 100%;
  max-width: 150px;
  padding: 0.75rem 1.2rem;
  border-radius: var(--radius-1);
  background: var(--color-8);
  color: var(--color-1);
  font-weight: 600;
  font-size: 0.95rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 12px rgba(100, 100, 100, 0.2);
  box-shadow: var(--shadow-1);
}

.botonn {
  display: flex;
  justify-content: center;
}

.terms-login{
  padding: 2.75rem 0 1.2rem 0;

}

.btn-primary:hover {
  background: var(--color-9);
  box-shadow:var(--shadow-2);
  transform: translateY(-1px);
}

.btn-primary:active {
  transform: translateY(0);
}

/* Errores */
.error-text {
  color: var(--color-error);
  font-size: 0.8rem;
  margin-top: 0.4rem;
  text-align: center;
  width: 100%;
}


.input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.input-wrapper input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.95rem;
  color: var(--color-10);
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-5);
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
}
/* Quitar el ojito predeterminado de los inputs password en Chrome, Edge, Safari */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-password-toggle-button {
  display: none !important;
  appearance: none !important;
}

/* Para Firefox */
input[type="password"] {
  -moz-appearance: textfield;
}